@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;

    background-color: white;
    border-bottom: 1px solid #e5e7eb;
}

.logo {
    color: #2563eb;
    font-size: 24px;
    font-weight: 700;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.logoutButton {
    background: none;
    border: none;
    color: #4b5563;
    font-weight: 500;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    background-color: #f3f4f6;
    font-family: 'Inter', sans-serif;
}

.cardHeader {
    background-color: #2563eb;
    color: white;

    padding: 15px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    font-size: 30px;
}

.pageDescription {
    color: whitesmoke;
    font-size: 14px;
    margin-bottom: 25px;
}

.historyCard {
    background-color: white;
    width: 650px;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.40);
}

h2{
    color: whitesmoke;
}


.historyEntry {
    padding:20px;
    border-radius:12px;
    border:1px solid #e5e5e5;
    transition:.2s;
    box-shadow: #555;
    font-size: 14px;
}

.historyContent {
    padding:30px;
    display:flex;
    flex-direction:column;
    gap:22px;
}

.historyFooter {
    text-align:center;
    color:#8c8c8c;
    padding:20px;
    border-top:1px solid #ececec;
    font-size:15px;
}


.navLinks{
    display:flex;
    gap:32px;
    align-items:center;
}

.navLink{
    text-decoration:none;
    color:#555;
    font-weight:600;
    transition:0.2s;
}

.navLink:hover{
    color:#2B4ACB;
}